body,
html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}
#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
}
nav {
  background-color: rgb(30, 150, 0);
  /* border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%; */
  box-shadow: 1vh 1vh 1vh rgba(0, 0, 0, 0.3);
  position: relative;
  
  z-index: 2;
}
code {
  font-family: "Ubuntu";
}
.container {
  max-width: 80vw;
  margin: 0 auto;
}
.logo {
  font-size: 10vh;
  color: rgb(255, 255, 255);
  font-weight: 900;
  text-shadow: 1vh 1vh 1vh black;
  transform: translate(0, -1.5vh);
}
.container {
  display: flex;
  justify-content: space-between;
  padding: 2vh 0 0 0;
}
.container ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  list-style: none;
  transform: translate(0, 1vh);
}
.container ul li:not(.container ul li:last-child) {
  margin-right: 4vw;
}
.container ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
  font-size: 3.5vh;
}
.active {
  padding: 0 0.3vw 1vh 0.3vw;
  border-bottom: 0.5vh solid rgba(0, 0, 0, 0.5);
  cursor: context-menu;
}

.auth {
  max-width: 50vw;
  margin: 5vh auto;
  text-align: center;
  flex: 1 0 auto;
}
.auth h1 {
  font-size: 8vh;
  font-weight: 500;
  margin-bottom: 2vh;
}
.auth a {
  color: rgb(20, 100, 0);
  font-size: 4vh;
}
.auth form fieldset {
  display: flex;
  flex-direction: column;
  margin-top: 4vh;
  border: none;
}
.auth form fieldset input {
  font-size: 3vh;
  padding: 1vh 1vw;
  margin-top: 2vh;
  color: rgb(31, 31, 31);
  border-radius: 5px;
  outline: none;
}
.auth form fieldset button {
  background-color: rgb(20, 100, 0);
  padding: 1vh 1vw;
  font-size: 3vh;
  cursor: pointer;
  color: white;
  margin: 0;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.errz {
  color: red;
}
.nav-exit {
  font-size: 3vh;
  font-weight: 500;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.nav {
  font-size: 3vh;
  font-weight: 500;
  color: rgb(255, 255, 255);
  cursor: pointer;
  text-shadow: 0px 1px 0 rgb(0, 0, 0), 0px -1px 0 rgb(0, 0, 0),
    1px 0px 0 rgb(0, 0, 0), -1px 0px 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0),
    1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0);
    margin-bottom: 2vh;
}
.nav a {
  display: flex;
}
.editor-form {
  flex: 1 0 auto;
}
.editor-form fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  max-width: 55vw;
  min-width: 50vw;
  margin: 5vh auto;
 
}
.editor-form fieldset input {
  font-size: 3vh !important;
}
.editor-form fieldset textarea {
  font-size: 2.2vh !important;
}
.settings-form fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  max-width: 50vw;
  min-width: 30vw;
  margin: 5vh auto;
}
.settings-form fieldset input {
  font-size: 2.5vh;
  padding: 1vh 1vw;
  margin-bottom: 1.5vh;
  outline: 0;
}
.settings-form fieldset input:nth-child(5) {
  margin: 0;
}
.editor-form fieldset textarea {
  font-size: 1.5vh;
  padding: 1vh 1vw;
  margin-bottom: 1.5vh;
  outline: 0;
  resize: none;
}
.settings-form fieldset textarea {
  font-size: 2vh;
  padding: 1vh 1vw;
  margin-bottom: 1.5vh;
  outline: 0;
  resize: none;
}
.editor-form fieldset input {
  font-size: 2vh;
  padding: 1vh 1vw;
  margin-bottom: 1.5vh;
  outline: 0;
}
.editor-form fieldset input:nth-child(4) {
  margin: 0;
}
.editor-form fieldset button {
  background-color: rgb(20, 100, 0);
  padding: 1vh 1vw;
  font-size: 3vh;
  cursor: pointer;
  color: white;
  margin: 0;
  border-bottom-left-radius: 8vh;
  border-bottom-right-radius: 8vh;
}
.settings-form fieldset button {
  background-color: rgb(20, 100, 0);
  padding: 1vh 1vw;
  font-size: 3vh;
  cursor: pointer;
  color: white;
  margin: 0;
  border-bottom-left-radius: 8vh;
  border-bottom-right-radius: 8vh;
}
.settings-form h2 {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 5vh;
  margin-top: 3bh;
  padding: 0;
}
.nav a img {
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  margin-right: 1vh;
  transform: translate(0, -0.5vh);
}
.profile-block {
  width: 100vw;
  z-index: 1;
  height: 100vh - 40px;
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  padding-bottom: 4vh;
}
.profile h2 {
  font-size: 4vh;
  color: rgba(0, 0, 0, 0.8);
}
.profile img {
  border-radius: 50%;
  margin-top: 10vh;
  width: 15vh;
  height: 15vh;
}
.profile a {
  display: flex;
  color: rgba(0, 0, 0, 0.8);
  position: relative;
  z-index: 2;
  cursor: pointer;
  padding: 1vh 1vh 0.5vh 1vh;
  border: 0.4vh solid rgba(0, 0, 0, 0.5);
  width: 18vw;
  border-radius: 1vh;
  
}
.profile a:hover {
  color: white;
  background-color: rgb(20, 100, 0);
  transition-duration: 1s;
}

.feed {
  display: flex;
  flex-direction: column;
  max-width: 80vw;
  min-width: 60vw;
  margin: 0 auto;
  padding: 2vh 0;
  border-top: 0.3vh solid rgba(0, 0, 0, 0.5);
}
.user {
  display: flex;
  justify-content: space-between;
}
.user p {
  padding: 0;
  margin: 0;
  font-size: 2vh;
  color: rgba(0, 0, 0, 0.5);
  white-space: nowrap;
}
.user div:first-child {
  display: flex;
}
.user div:first-child img {
  border-radius: 50%;
  margin-right: 1vh;
}
.user div:first-child a {
  font-size: 2.8vh;
  white-space: nowrap;
}
.like {
  display: flex;
  padding: 1vh 1vh 0.5vh 1vh;
  border: 0.5vh solid rgb(20, 100, 0);
  border-radius: 10px;
  font-size: 4vh;
  color: rgb(20, 100, 0);
  cursor: pointer;
  transform: scale(0.8);
  transition-duration: 0.8s;
}
.favorite {
  color: white;
  background-color: rgb(20, 100, 0);
}
.delete {
  color: rgb(20, 100, 0);
  background-color: white;
}
.delete:hover {
  color: white !important;
  background-color: rgb(20, 100, 0) !important;
}
.favorite:hover {
  color: rgb(20, 100, 0) !important;
  background-color: white !important;
}
.like:hover {
  color: white;
  background-color: rgb(20, 100, 0);
}
.title a h2 {
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.8);
  min-width: none;
  font-size: 5vh;
}
.title a p {
  margin-top: 0.5vh;
  color: rgba(0, 0, 0, 0.5);
  min-width: none;
  font-size: 3vh;
}
.tags {
  display: flex;
  justify-content: space-between;
}
.tags ul {
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
}
.tags ul li:not(.tags ul li:last-child) {
  margin-right: 1.5vh;
}
.tags img {
  height: 30vh;
  width: 30vh;
}
.tags ul li {
  list-style: none;
  padding: 0.5vh !important;
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 1vh;
  font-size: 1vh;
  transition-duration: 0.5s;
}
.Tags ul li:last-child {
  margin-bottom: 5vh;
}
.tags span {
  margin-top: 1vh;
  font-size: 3vh;
  color: rgba(0, 0, 0, 0.5);
}
.pagination {
  display: flex;
  margin: 4vh auto !important;
  padding: 0;
  justify-content: space-around;
  width: 60%;
}
.pagination li {
  list-style: none;
  margin-right: 1vh !important;
}
.pagination li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}

.activez {
  color: red;
}
.unfollow {
  background-color: red;
  color: white !important;
  font-size: 2vh !important;
}
.unfollow:hover {
  background-color: red;
  color: rgba(0, 0, 0, 0.8);
}
.isLoading {
  border: 2vh solid #f3f3f3;
  border-top: 16px solid #00000085;
  border-radius: 50%;
  min-width: 15vh !important;
  min-height: 15vh !important;
  max-width: 15vh !important;
  max-height: 15vh !important;
  animation: spin 1s linear infinite;
  margin: 15vh auto;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.Icon--door_arrow_right_outline_28 {
  color: rgb(220, 220, 220);
  transform: translate(0, -0.5vh) scale(1.5);
}
.GlobalFeed {
  margin-top: 0;
}
.Feeds {
  max-width: 80vw;
  min-width: 60vw;
  margin: 0 auto;
  flex: 1 0 auto;
}
.Feeds ul {
  margin: 5vh 0 0 0;
  display: flex;
  padding: 0;
}
.Feeds ul li {
  list-style: none;
  margin-right: 5vh;
  font-size: 3vh;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
  padding: 1vh;
}
.Feeds ul li a {
  color: rgba(0, 0, 0, 0.7);
}

.f-active {
  color: rgb(20, 100, 0) !important;
  border-bottom: 2px solid rgb(20, 100, 0);
}
.f-active a {
  color: rgb(20, 100, 0) !important;
}
.popular-tags {
  text-align: center;
  font-size: 4vh;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 3vh;
}
.Tags {
  max-width: 45vw !important;
  margin: 0 auto;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.Tags ul {
  display: flex;
  flex-wrap: wrap;
  max-height: 10vh;
  max-width: 20vw;
}
.Tags ul li:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
}
.Tags ul li {
  color: rgba(0, 0, 0, 0.8);
  margin-right: 2vh !important;
  margin-top: 2vh;
  height: 2.5vh;
  font-size: 2vh;
}
.Tags ul li a:hover {
  color: white;
}
.Tags img {
  transform: translate(1vh, 0);
}
.Tags h1 {
  text-align: center;
  margin: 0;
  font-size: 4vh;
  color: rgba(0, 0, 0, 0.9);
  transform: translate(-2vh, 0);
}
h3 {
  text-align: center;
  color: rgba(0, 0, 0, 0.76);
}

.activePag {
  font-size: 2vh;
  border: 1px solid black;
  border-radius: 50%;
}
.Error {
  color: red;
  text-align: center;
  padding: 1vh 2vh;
  border: 2px solid red;
  margin: 5vh;
}
.footer {
  background-color: rgb(30, 100, 0);
  color: white;
  margin-top: 12vh;
  /* border-top-right-radius: 10%;
  border-top-left-radius: 10%; */
}
.footer div {
  font-size: 3vh;
  display: flex;
  justify-content: space-around;
  max-width: 80vw;
  height: 7vh;
  margin: 0 auto;
  padding: 1.5vh 0;
  flex-wrap: wrap;
}
.footer div span:first-child {
  font-size: 2vh;
}
.footer div span {
  white-space: nowrap;
  display: flex;
  margin-top: 20px;
}
.Icon {
  margin: 0.5vh 1vh 0 0 !important;
  padding: 0 !important;
}
.footer div span a {
  color: white;
  text-decoration: underline;
}
.article {
  background-color: rgba(0, 0, 0, 0.23);
  padding: 1vh 0; 
}
.article .user {
  transform: scale(1.3);
  padding: 1vh;
}
.article div:first-child {
   margin: 0 auto;
   max-width: 60vw;
}
.article div:first-child h2 {
  font-size: 4vh;
}
.art-body {
  max-width: 80vw;
  margin: 10px auto;
  font-size: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.art-body h3 {
  padding-bottom: 3vh;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}
.art-body textarea {
  margin-top: 4vh;
  padding: 2vh;
  outline: 0;
  resize: vertical;
}
.art-body button {
  padding: 0.5vh 1vh;
  background-color: rgb(20, 100, 0);
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  font-weight: 800;
  font-size: 14px;
  cursor: pointer;
}
.art-body img {
  border-radius: 50%;
}
.create-comment {
  display: flex;
  justify-content: space-between;
  width: 510px;
  padding: 10px 20px 20px 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.art-body ul li {
  list-style: none;
}

.card {
  width: 30vw;
  padding: 3vh 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin: 1vh 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card p {
  margin: 0 2vw;
  font-size: 2vh;
}
.user-c-d {
  display: flex;
  justify-content: space-around;
  padding: 1vh 0 0 0;
  margin: 1vh 0 0 0;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.card span {
  margin-top: 2vh;
  font-size: 1.8vh;
  color: rgba(0, 0, 0, 0.4);
}
.card  img {
  transform: translate(-2vw, 1vh);
}
.del {
  cursor: pointer;
  margin-top: 2vh;
}
.deletePost {
  margin: 3vh auto;
  transform: scale(2);
  color: brown;
  cursor: pointer;
}
.Icon--like_16 {
  transform: scale(1.8) translate(0, 3px);
}
@media (max-width: 1200px) {
  .logo {
    display: none;
  }
  .Icon--door_arrow_right_outline_28 {
    transform: translate(3vh, -0.5vh) scale(1.5);
  }
}